p,h1{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}

.wrapper{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
header{
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 21px -5px #cdd1e1;
    display: flex;
    align-items: center;
    padding-left: 27px;
}

.logo{
font-size: 25px;
}
header img{
    cursor: pointer;
}
.top_bar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-right: 40px;
    align-items: center;
    padding: 10px;
    background-color: white;
    
}
.search_now{
    width: 100%
    
}
.search_now input{
    padding: 15px;
    outline: none;
    width:  370px;
    border-radius: 2rem;
    border: 1px solid #c9ccd7;
    padding-left: 30px;
    font-size: 15px;
}
.container{

    width: 100%;
    background-color: #dddce1;
}
.display_flex{
    width: 100%;
    display: flex;

    padding: 20px;
}

.profile_info{
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.profile_info .status{
    color: #2c793c;
    font-weight: 700;
}
.sidebar{
    max-width: 240px;
    width: 100%;
}


.sidebar a{
    text-decoration: none;
    color: #424242;
}

.sidebar p{
    padding: 20px;
    cursor: pointer;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}


.sidebar .active{
    color: #248afd;
}
.container_content{
    width: 100%;
     
}
.container{
    width: 100%;
    background-color: #dddce1;;
}
.display_flex{
    width: 100%;
    display: flex;
    gap: 10rem;
    padding: 30px;
    margin-top: 20px;
}
.sidebar p{
    padding: 20px;
    cursor: pointer;
    font-size: 26px;
    color: #248afd;
}
.sidebar a{
    text-decoration: none;
    padding: 20px;
    cursor: pointer;
    font-size: 26px;
    color: #424242;
    
}
.account{
    width: 100%;
}
.acc p{
    font-size: 25px;
    font-weight: bolder;
    padding: 20px;
    color: #424242;
    
}
.details{
    display: flex;
    gap: 2rem;
    padding: 20px;
    font-size: 19px;
    cursor: pointer;

}
.details a{
    text-decoration: none;
    color: black;
}
.p_details{
     border-bottom: 4px solid #3D5AFE;
    padding-bottom: 3px;
    gap: 3rem;
    display:inline-block;
    
}
.personal_details{
    padding: 20px;
    color: #424242;
    
}
.personal_d{
    font-size: 20px !important;
    font-weight: bolder;
}
.personal_details p{
    margin-top: 15px;
    font-size: 19px
}
.info{
    padding: 20px;
    font-weight: bold;
    color:  #424242;
    
    
   
}
.info input{
    padding: 25px;
    width: 700px;
    border-radius: 10px;
    border: 1px solid #E0E0E0; 
    display: inline-flex;
    gap: 50px;
}
.info label{
    font-size: 17px;
    width: 400px;
    letter-spacing: 0.4px;
    display: inline-flex;
}
.cancel_save{
    width: 90%;
    display: flex;
    gap: 2rem;
    
    justify-content: flex-end;
    padding: 30px;
    
}
.cancel button{
    font-size: 19px;
    background-color: white;
    border: 1px solid #424242;
    border-radius: 40px;
    padding: 20px 40px;
    cursor: pointer;
}
.save button{
    font-size: 19px;
    background-color: #3D5AFE;
    border: 1px solid #3D5AFE;
    border-radius: 40px;
    padding: 20px 40px;
    cursor: pointer;
}
