p,h1{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}

.wrapper{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
header{
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 21px -5px #cdd1e1;
    display: flex;
    align-items: center;
    padding-left: 27px;
}

.logo{
font-size: 25px;
}
header img{
    cursor: pointer;
}
.top_bar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-right: 40px;
    align-items: center;
    padding: 10px;
    background-color: white;
    
}
.search_now{
    width: 100%
    
}
.search_now input{
    padding: 15px;
    outline: none;
    width:  370px;
    border-radius: 2rem;
    border: 1px solid #c9ccd7;
    padding-left: 30px;
    font-size: 15px;
}
.container{

    width: 100%;
    background-color: #dddce1;
}
.display_flex{
    width: 100%;
    display: flex;

    padding: 20px;
}

.profile_info{
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.profile_info .status{
    color: #2c793c;
    font-weight: 700;
}
.sidebar{
    max-width: 240px;
    width: 100%;
}


.sidebar a{
    text-decoration: none;
    color: #424242;
}

.sidebar p{
    padding: 20px;
    cursor: pointer;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}


.sidebar .active{
    color: #248afd;
}
.container_content{
    width: 100%;
    
     
}

.content_flex{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.Dashboard{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

}
.royal_dashboard{
    font-size: 22px;
}
.report{
    background-color: #248afd;
    padding:  16px 40px;
    border-radius: 25px;
    font-size: 19px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.report:hover{
    background-color: #50a2ff;
}
.main{
    width: 100%;
    display: flex;
    gap: 15px;
}
.sale_revenue_content{
    display: flex;
    gap: 15px;
}
.sale{
    width: 285px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sale_1{
    font-weight: bold;
    color: #787878;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sales_number{
    font-size: 35px;
    font-weight: bold;
    margin-top: 22px;
}
.sales_percent{
    margin-top: 10px;
    display: flex;
    gap: 0.6rem;

}
.sales_percent span{
    color: red;
}
.revenue{
    width: 285px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.revenue_1{
    font-weight: bold;
    color: #787878;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.revenue_number{
    font-size: 35px;
    font-weight: bold;
    margin-top: 22px;
}
.revenue_percent{
    margin-top: 10px;
    display: flex;
    gap: 0.6rem;
}
.revenue_percent span{
    color: red;
}
.sales_details_box{
    background-color: white;
    padding: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sales_details{
    color: #787878;
    font-size: 17px;
}
.details{
    margin-top: 30px;
    color: #686868;
    font-size: 17px;
}
.dropdown_flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 350px;
    font-size: 17px;
    background: white;
}
.down_flex_1{
    color: #686868;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.down_flex_1:hover{
    color:  #248afd;
    font-size: 19px;
}
.downloads_returns{
    display: flex;
    gap: 2.5rem;
}
.download{
    width: 285px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.download_1{
    font-weight: bold;
    color: #787878;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download_number{
    font-size: 35px;
    font-weight: bold;
    margin-top: 22px;
}
.download_percent{
    margin-top: 10px;
    display: flex;
    gap: 0.6rem;

}
.download_percent span{
    color:   #2c793c;
}
.returns{
    width: 285px;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.return_1{
    font-weight: bold;
    color: #787878;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.return_number{
    font-size: 35px;
    font-weight: bold;
    margin-top: 22px;
}
.return_percent{
    margin-top: 10px;
    display: flex;
    gap: 0.6rem;
}
.return_percent span{
    color: #2c793c;
}
.purchases_box{
    background-color: white;
    margin-top: 40px;
    padding: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.purchases{
    color: #787878;
    font-size: 17px;
}
.purchases_list{
    margin-top: 30px;
    color: #686868;
    font-size: 17px;
}
.d_flex{
    display: flex;
    gap: 4rem;
    font-size: 17px;
    color: #686868;
    margin-top: 40px;
    margin-bottom: 280px;
}
.number{
    font-size: 30px;
    color: black;
    font-weight: bold;
    
}
.d_flex p{
    padding-top: 10px;
}
.main_2{
    width: 100%;

}
.detailed{
    background-color: white;
    width: 88%;
  
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.detailed_reports{
    color:  #787878;
}
.report_numbers{
    margin-top: 80px;
}
h1{
    font-size: 60px;
    
}
.report_numbers p{
    margin-bottom: 50px;
    font-size: 40px;
}
.report_info p{
    font-size: 17px;
    margin-top: 6px;
    color: #686868;
    
}


